<div id="cv-template-1" class="cv-container">
  <!-- Personal Information -->
  <header class="cv-header">
    <div class="profile-picture">
      <!--<img src="assets/Profilepic.jpg" alt="Profile Picture"/>  -->
    </div>
    <div class="personal-info">
      <h1>Mario Pereda</h1>
      <h2>Junior Software Engineer</h2>
      <p>+49 1724 605722 | mario.pereda.08&#64;gmail.com</p>
      <p>Friedrichshafenerstr 24a, 70329, Stuttgart, Germany</p>
    </div>
  </header>

  <!-- About Me -->
  <section class="cv-section">
    <h3>About Me</h3>
    <p>
      I am a recently graduated software engineer looking for experience in the IT field. Passionate
      about technology, web development, and the automotive world, but ready to take on new
      challenges.
    </p>
  </section>

  <!-- Professional Experience -->
  <section class="cv-section">
    <h3>Professional Experience</h3>
    <div *ngFor="let experience of experiences" class="experience-item">
      <h4>{{ experience.position }} | {{ experience.company }}</h4>
      <p><strong>{{ experience.date }}</strong></p>
      <ul>
        <li *ngFor="let detail of experience.details">{{ detail }}</li>
      </ul>
    </div>
  </section>


  <!-- Education -->
  <section class="cv-section">
    <h3>Education</h3>
    <div>
      <h4>Bachelor of Computer Science</h4>
      <p>University of Valladolid, Spain | Graduated on August 2024</p>
    </div>
  </section>
</div>
<div>
  <!-- Skills -->
  <section class="cv-section">
    <h3>Skills</h3>
    <ul class="skills-list">
      <li *ngFor="let skill of skills">{{ skill }}</li>
      <li>Fast Learner</li>
      <li>Team Player</li>
      <li>Problem Solving</li>
      <li>Flexible</li>
      <li>Good Communication</li>
    </ul>
  </section>
</div>
<div>
  <!-- Languages -->
  <section class="cv-section">
    <h3>Languages</h3>
    <ul class="languages-list">
      <li *ngFor="let language of languages">{{ language }}</li>
    </ul>
  </section>
</div>
<div id="cv-template-2" class="cv-container">
  <!-- Personal Projects -->
  <section class="cv-section">
    <h3>Personal Projects</h3>
    <div *ngFor="let project of projects">
      <h4>{{ project.title }}</h4>
      <p>{{ project.description }}</p>
    </div>
  </section>
</div>

<button (click)="downloadPDF()">Download as PDF</button>
